<%= form_for [@user, @mygmail], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :eid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :eid, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_mygmails_path(@user), :class => 'btn' %>
  </div>
<% end %>
